node_modules
dist
.npm-cache
.DS_Store
.env
.env.local
functions/node_modules
functions/lib
firebase-debug.log
firestore-debug.log
.firebase
local_testing
*.service-account.json
*serviceAccount*.json
.gcloud/
